.m_collection_container {
    background-image: url('../../../assests/images/ocean-background2.png'),
                        linear-gradient(180deg, #053554 90%, #000000 100%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center top 125px, top, center;
}

.m_collection_container_dark {

    background-image: url('../../../assests/images/ocean-background-dark2.png'),
                        linear-gradient(180deg, #051c2c 85%, #000000 100%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center top 125px, top, center;
}