.m_whalecard_title{
    background: transparent linear-gradient(84deg, #003C58 0%, #001F2E 100%) 0% 0% no-repeat padding-box;
    padding: 50px 100px;
    width: 100%;
    font-family: 'Avenir Next';
    font-size: 22px;
}

.m_whalecard_container{
    // padding: 5px;
}

.m_whale_btn {
    transform: matrix(-1, 0, 0, -1, 0, 0);
    background: transparent linear-gradient(180deg, #5FCCFF 0%, #16B4FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #16B4FF;
    border: 0;
    outline: none;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px 15px 0px 0px;
}